<div class="container-fluid mt-5">
  <div class="card mx-5">
    <div class="row mb-4 footer-wrapper">
      <div class="col-md-4 col-sm-11 col-xs-11">
        <div class="footer-text pull-left">
          <div class="d-flex">
            <h1 id="footer-title">Check Out Our Social</h1>
          </div>
          <p class="card-text">Share your stories and connect even deeper with our community.</p>
          <div class="social mt-2 mb-3">
            {{! <i class='fa fa-twitter fa-lg'></i> }}
            <a
              href="https://twitter.com/WeHelpAustin1?ref_src=twsrc%5Etfw"
              class="twitter-follow-button"
              data-show-count="false"
            >Follow @WeHelpAustin1</a><script
              async
              src="https://platform.twitter.com/widgets.js"
              charset="utf-8"
            ></script>
         <a href="https://www.linkedin.com/company/84558177" class="bi-linkedin" style="font-size:30px; color: blue " target="_blank"></a>

            {{!-- <i class="fa fa-linkedin-square fa-lg"></i> --}}
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-4">
        <h5 class="heading">Our Group</h5>
        <ul class="card-text">
          <li><a href="/about" class="group-link">About Us</a></li>
          <li><a href="/contactus" class="group-link">Contact Us</a></li>
          <li>View Our Code!</li>
        </ul>
      </div>
    </div>
    {{! divider bar - stays empty }}
    <div class="divider mb-4"> </div>
    <div class="row" class="copywright">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-left">
          <p><i class="fa fa-copyright"></i> 2022</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull-right mr-4 d-flex policy">
          <div><a
              href="https://www.mit.edu/~amini/LICENSE.md" 
              class="group-link" target="_blank"
            >MIT License</a></div>
        </div>
      </div>
    </div>

  </div>
</div>