{{! NAVBAR - START }}
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    {{! tree logo w/ title }}
    <a class='navbar-brand' href='#'>
      <img
        alt='tree'
        src='/images/treelogo.jpg'
        id='nav-tree'
        class='align-middle'
      />
      We Help Austin
    </a>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    </div>
    <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
      <button class='btn btn-primary' type='button'>Login</button>
      <button class='btn btn-primary' type='button'>Signup</button>
    </div>
  </div>
</nav>
{{! NAVBAR - END }}