{{! NAVBAR - START }}
<nav class='navbar navbar-expand-lg navbar-light'>
  <div class='container-fluid'>
    {{! tree logo w/ title }}
    <a class='navbar-brand' href='#'>
      <img
        alt='tree'
        src='/images/treelogo.jpg'
        id='nav-tree'
        class='align-middle'
      /><span id='navbar-title'>We Help Austin</span>
    </a>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    </div>
    <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
      <button class='btn btn-primary log-sign' type='button'><a href='/login'></a></a>Login</button>
      <button class='btn btn-primary log-sign' type='button'><a href='/signup'></a></a>Signup</button>
    </div>
  </div>
</nav>
{{! NAVBAR - END }}