{{! NAVBAR - START }}
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container-fluid'>
    {{! tree logo w/ title }}
    <a class='navbar-brand' href='#'>
      <img
        alt='tree'
        src='/images/treelogo.jpg'
        id='nav-tree'
        class='align-middle'
      />
      We Help Austin
    </a>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      {{! <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                <li class='nav-item'>
                  <a
                    class='nav-link active'
                    aria-current='page'
                    href='#'
                  >Home</a>
                </li>
                <li class='nav-item'>
                  <a class='nav-link' href='#'>Link</a>
                </li>
              </ul> }}
    </div>
    <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
      <button class='btn btn-primary' type='button'>Login</button>
      <button class='btn btn-primary' type='button'>Signup</button>
    </div>
  </div>
</nav>
{{! NAVBAR - END }}