<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>We Help Austin</title>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js'
      integrity='sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <link rel='stylesheet' href='/public/stylesheets/reset.css' />
  </head>
  <body>
    <header>
      <h1>
        <a href='/'>We Help Austin</a>
      </h1>
      <nav>
        <a class='btn btn-primary' href='/login' role='button'>Login</a>
        <a class='btn btn-primary' href='/signup' role='button'>Signup</a>
      </nav>
      <div>
       
      </div>
    </header>
  </body>
</html>