<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>We Help Austin</title>
  </head>
  <body>
    <header>
      <h1>
        <a href='/'>We Help Austin</a>
      </h1>
      <nav>
        <a href='/login'>Login</a>
      </nav>
      <div>
        <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBPJNu-E_xAawRiNnjHWzo1AhiWGD_VkfA
    &q=Space+Needle,Seattle+WA'>
</iframe>
<script async defer
  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBPJNu-E_xAawRiNnjHWzo1AhiWGD_VkfA'>
</script>
      </div>
    </header>
  </body>
</html>