<HTML>
<body>
<article class="about-content fallingLeaves">
<section class="tree-container">
  <div class="tree-on"></div>
    <div class="set">
      <div><img src="/images/leaves1.png"></div>
      <div><img src="/images/leaves2.png"></div>
      <div><img src="/images/leaves3.png"></div>
      <div><img src="/images/leaves4.png"></div>
      <div><img src="/images/leaves1.png"></div>
      <div><img src="/images/leaves2.png"></div>
      <div><img src="/images/leaves3.png"></div>
      <div><img src="/images/leaves4.png"></div>
</article>
<h1 class="text-center bg-white text-success">Meet our Software Engineers!</h1>
<div class='album py-5 bg-white'>
  <div class='container'>
    <div class='row row-cols-lg-4 g-3'>
      {{! card 4 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic4.jpg' alt='racoon' />

          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/jorddo">Jordan Sneed</a></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! card 1 start }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic1.webp' alt='pupper' />
          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/Zdavis92">Zachary Davis</a></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! card 2 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic2.jpg' alt='cat tongue' />
          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/CSeddon01">Christine Seddon</a></p>
            <div class='d-flex justify-content-between align-items-center'>
            </div>
          </div>
        </div>
      </div>
      {{! card 3 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic3.jpg' alt='fox' />
          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/thisisjona">Jonathan Rivera</a></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
</div>
<hr>
<br>
<br>
</div>
</section>
</body>
</html>
