<section class='py-5 text-center container'>
  <div class='row py-lg-5'>
    <div class='col-lg-6 col-md-8 mx-auto'>
      <h1 class='fw-light'>About Us</h1>
      <p class='lead text-muted'>Fire ship Sink me hardtack hearties league lass
        Privateer Nelsons folly broadside rum. Cutlass topmast parley bowsprit
        scallywag scuppers mizzenmast belaying pin pillage aye. Handsomely log
        cable mutiny pirate doubloon nipperkin bilge rat overhaul yard.</p>
    </div>
  </div>
</section>

<div class='album py-5 bg-light'>
  <div class='container'>

    <div class='row row-cols-lg-4 g-3'>
      {{! card 1 start }}
      <div class='col'>
        <div class='card shadow-sm'>
          {{! prof pic }}
          <img src='/images/prof-pic1.webp' alt='pupper' />
          <div class='card-body'>
            <p class='card-text'>Swab barque interloper chantey doubloon
              starboard grog black jack gangway rutters.</p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! card 2 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic2.jpg' alt='cat tongue' />

          <div class='card-body'>
            <p class='card-text'>Prow scuttle parrel provost Sail ho shrouds
              spirits boom mizzenmast yardarm.
            </p>
            <div class='d-flex justify-content-between align-items-center'>
            </div>
          </div>
        </div>
      </div>
      {{! card 3 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic3.jpg' alt='fox' />

          <div class='card-body'>
            <p class='card-text'>Deadlights jack lad schooner scallywag dance
              the hempen jig carouser broadside cable strike colors.
            </p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! card 4 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic4.jpg' alt='racoon' />

          <div class='card-body'>
            <p class='card-text'>Trysail Sail ho Corsair red ensign hulk smartly
              boom jib rum gangway.
            </p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
              <small class='text-muted'>9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>