<HTML>

<body>
  <article class="about-content fallingLeaves">
    <section class="tree-container">
      <div class="tree-on"></div>
      <div class="set">
        <div><img src="/images/leaves1.png"></div>
        <div><img src="/images/leaves2.png"></div>
        <div><img src="/images/leaves3.png"></div>
        <div><img src="/images/leaves4.png"></div>
        <div><img src="/images/leaves1.png"></div>
        <div><img src="/images/leaves2.png"></div>
        <div><img src="/images/leaves3.png"></div>
        <div><img src="/images/leaves4.png"></div>
  </article>
  <h1 class="text-center bg-white misc-font fs-2">Meet our Software Engineers!</h1>
  <div class='album py-5 bg-white'>
    <div class='container'>
      <div class='row row-cols-lg-4 g-3'>
        {{! card 1 }}
        <div class='col'>
          <div class='card shadow-sm misc-border'>
            <img src='/images/prof-pic4.jpg' alt='racoon' class="img-responsive img-thumbnail " />
            <div class='card-body'>
              <p class='card-text'><a href="https://github.com/jorddo" target="_blank" class="misc-font">Jordan
                  Sneed</a></p>
              <div class='d-flex justify-content-between align-items-center'>
              </div>
            </div>
          </div>
        </div>
        {{! card 2 }}
        <div class='col'>
          <div class='card shadow-sm misc-border'>
            <img src='/images/prof-pic1.webp' alt='pupper' class="img-responsive img-thumbnail" />
            <div class='card-body'>
              <p class='card-text'><a href="https://github.com/Zdavis92" target="_blank" class="misc-font">Zachary
                  Davis</a></p>
              <div class='d-flex justify-content-between align-items-center'>
              </div>
            </div>
          </div>
        </div>
        {{! card 3 }}
        <div class='col'>
          <div class='card shadow-sm misc-border'>
            <img src='/images/prof-pic2.jpg' alt='cat tongue' class="img-responsive img-thumbnail" />
            <div class='card-body'>
              <p class='card-text'><a href="https://github.com/CSeddon01" target="_blank" class="misc-font">Christine
                  Seddon</a></p>
              <div class='d-flex justify-content-between align-items-center'>
              </div>
            </div>
          </div>
        </div>
        {{! card 4 }}
        <div class='col'>
          <div class='card shadow-sm misc-border'>
            <img src='/images/prof-pic3.jpg' alt='fox' class="img-responsive img-thumbnail" />
            <div class='card-body'>
              <p class='card-text'><a href="https://github.com/thisisjona" target="_blank" class="misc-font">Jonathan
                  Rivera</a></p>
              <div class='d-flex justify-content-between align-items-center'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <br>
  <br>

</body>

</html>