<HTML>
<body>
  
<article class="about-content fallingLeaves">
<section class="tree-container">
  <div class="tree-on"></div>
    <div class="set">
      <div><img src="/images/leaves1.png"></div>
      <div><img src="/images/leaves2.png"></div>
      <div><img src="/images/leaves3.png"></div>
      <div><img src="/images/leaves4.png"></div>
      <div><img src="/images/leaves1.png"></div>
      <div><img src="/images/leaves2.png"></div>
      <div><img src="/images/leaves3.png"></div>
      <div><img src="/images/leaves4.png"></div>
</article>

<hr>
<h2>Our Mission</h2>
<p>
    We are a team of four full stack developers that come from totally different backgrounds that are a part of the best community in the world!  Austin, Texas Y'all!</p>
</p>
<hr>
<h2>Meet our Software Engineers!</h2>
<div class='album py-5 bg-light'>
  <div class='container'>
    <div class='row row-cols-lg-4 g-3'>
      {{! card 1 start }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic1.webp' alt='pupper' />
          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/Zdavis92">Zachary Davis</a></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! card 2 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic2.jpg' alt='cat tongue' />
          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/CSeddon01">Christine Seddon</a></p>
            <div class='d-flex justify-content-between align-items-center'>
            </div>
          </div>
        </div>
      </div>
      {{! card 3 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic3.jpg' alt='fox' />
          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/thisisjona">Jonathan Rivera</a></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! card 4 }}
      <div class='col'>
        <div class='card shadow-sm'>
          <img src='/images/prof-pic4.jpg' alt='racoon' />

          <div class='card-body'>
            <p class='card-text'><a href="https://github.com/jorddo">Jordan Sneed</a></p>
            <div class='d-flex justify-content-between align-items-center'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >View</button>
                <button
                  type='button'
                  class='btn btn-sm btn-outline-secondary'
                >Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
</div>
<hr>
<br>
<br>
<h2>Email Us</h2>
<div class="contact-copy subtitle">
    <input type="text" value="wehelpaustin@gmail.com" id="myInput" >
    <button class="btn btn-primary" onclick="emailUs()">Copy Email</button>
<script>
    function emailUs() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 999999);
        navigator.clipboard.writeText(copyText.value);
        alert("Copied Email:" + copyText.value);
    }
</script>
</div>
</section>


</body>
</html>
