<div class="container-fluid vh-100" style="margin-top:300px">
  <div class="" style="margin-top:200px">
    <div class="rounded d-flex justify-content-center">
      <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
        <div class="text-center">
          <h3 class="logsign-text">Sign In</h3>
        </div>
        <form action="">
          <div class="p-4">
            <div class="input-group mb-3">
              <span class="input-group-text logsign-logo"><i class="bi bi-person-plus-fill text-white"></i></span>
              <input type="text" id="email-login" class="form-control" placeholder="Email" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text logsign-logo"><i class="bi bi-key-fill text-white"></i></span>
              <input type="password" id="password-login" class="form-control" placeholder="password" />
            </div>
            <button id="login-btn" class="btn btn-primary text-center mt-2" type="submit">
              Login
            </button>
            <p class="text-center mt-5">Don't have an account?
              <span><a href="/signup" class="logsign-text">Sign Up</a></span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>