{{! <form class='signup-form'>
  <div>
    <label for='username-signup'>Username:</label>
    <input type='text' id='username-signup' />
  </div>
  <div>
    <label for='email-signup'>Email:</label>
    <input type='text' id='email-signup' />
  </div>
  <div>
    <label for='password-signup'>Password:</label>
    <input type='password' id='password-signup' />
  </div>
  <div>
    <button type='submit'>Signup</button>
  </div>
</form> }}

<div class='container-fluid vh-100' style='margin-top:300px'>
  <div class='' style='margin-top:200px'>
    <div class='rounded d-flex justify-content-center'>
      <div class='col-md-4 col-sm-12 shadow-lg p-5 bg-light'>
        <div class='text-center'>
          <h3 class='logsign-text'>Create Account</h3>
        </div>
        <div class='p-4'>
          <form action=''>
            <div class='input-group mb-3'>
              <span class='input-group-text logsign-logo'><i
                  class='bi bi-person-plus-fill text-white'
                ></i></span>
              <input
                type='text'
                class='form-control'
                id='username-signup'
                placeholder='Username'
              />
            </div>
            <div class='input-group mb-3'>
              <span class='input-group-text logsign-logo'><i
                  class='bi bi-envelope text-white'
                ></i></span>
              <input
                type='email'
                class='form-control'
                id='email-signup'
                placeholder='Email'
              />
            </div>
            <div class='input-group mb-3'>
              <span class='input-group-text logsign-logo'><i
                  class='bi bi-key-fill text-white'
                ></i></span>
              <input
                type='password'
                class='form-control'
                id='password-signup'
                placeholder='password'
              />
            </div>
            <div class='d-grid col-12 mx-auto'>
              <button class='btn btn-primary' type='button'><span></span>
                Sign up</button>
            </div>
            <p class='text-center mt-3'>Already have an account?
              <span class='logsign-text'>Sign in</span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{! NEED TO LINK JAVASCRIPT FILE(S) }}