<div class="container-fluid vh-100" style="margin-top:300px">
  <div class="" style="margin-top:200px">
    <div class="rounded d-flex justify-content-center">
      <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
        <div class="text-center">
          <h3 class="logsign-text">Create Account</h3>
        </div>
        <div class="p-4">
          <form action="">
            <div class="input-group mb-3">
              <span class="input-group-text logsign-logo"><i class="bi bi-person-plus-fill text-white"></i></span>
              <input type="text" class="form-control" id="username-signup" placeholder="Username" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text logsign-logo"><i class="bi bi-envelope text-white"></i></span>
              <input type="email" class="form-control" id="email-signup" placeholder="Email" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text logsign-logo"><i class="bi bi-key-fill text-white"></i></span>
              <input type="password" class="form-control" id="password-signup" placeholder="password" />
            </div>
            <div class="d-grid col-12 mx-auto">
              <button id="signup-btn" class="btn btn-primary" type="button"><span></span>
                Sign up</button>
            </div>
            <p class="text-center mt-3">Already have an account?
              <span><a href="/login" class="logsign-text">Sign in</a></span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="javascript/signup.js"></script>