<main class='main bg-light'>
  <hr class='bg-white' />

  <body data-new-gr-c-s-check-loaded='14.1055.0'>
    <section class='section section-lg bg-soft'>
      <div class='container'>
        <div class='row pt-5 pt-md-0'>
          <div class='col-12 col-md-4 d-none d-lg-block'>
            <div class='card border-success p-2'>
              <div class='card-body p-2'>
                <div class='profile-thumbnail mx-auto'>
                  <img src='/images/sprout.png' class='card-img-top rounded-circle border-white' alt='sprout' />
                </div>
                <h2 class='h5 font-weight-normal text-center mt-3 mb-0 misc-font'>{{user.username}}</h2>
                <div class='list-group dashboard-menu list-group-sm mt-4'>
                  <a href='/' class='d-flex list-group-item list-group-item-action border-success misc-font'>Home
                    <span class='icon icon-xs ml-auto'>
                      <span class='fas bi-caret-right'></span>
                    </span>
                  </a>
                  <a href='/contactus'
                    class='d-flex list-group-item list-group-item-action border-success misc-font'>Contact Us
                    <span class='icon icon-xs ml-auto'>
                      <span class='fas bi-caret-right'></span>
                    </span>
                  </a>
                  <a href='/dashboard'
                    class='d-flex list-group-item list-group-item-action border-success misc-font'>Dashboard
                    <span class='icon icon-xs ml-auto'>
                      <span class='fas bi-caret-right'></span>
                    </span>
                  </a>
                  <a href='/about' class='d-flex list-group-item list-group-item-action border-success misc-font'>About
                    <span class='icon icon-xs ml-auto'>
                      <span class='fas bi-caret-right'></span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class='col-12 col-lg-8'>
            <div class='row justify-content-center'>
              <div class='col-12 col-sm-10 col-md-6 col-lg-12'>
                <a href='/dashboard' class='btn btn-primary log-sign new-post-btn' type='submit'>Make New Post</a>
                <ol id='posts' class='card text-dark'>
                  {{! posts added by javascript here }}
                </ol>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <script src='/javascript/getUserPosts.js'></script>
  </body>
</main>