/* .index {
  padding-top: 5px;
  background-image: url('../images/mplifting.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}  */

main {
  background-color: #f7f9fb;
}

body,
html {
  font-family: 'Inconsolata', sans-serif;
}

a {
  text-decoration: none;
  color: #f7f9fb;
}

a:hover {
  color: #8fc1e3;
  cursor: pointer;
  text-decoration: none;
}

.full-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAV STYLES */
.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #687864;
}

#nav-tree {
  width: 2.5rem;
  border-radius: 50%;
  font-size: 5rem;
}

#navbar-title {
  font-size: 3.5rem;
  color: #f7f9fb;
  padding-left: 1rem;
}

.nav-link {
  color: #f7f9fb;
  font-size: 1.5rem;
}

.nav-link:hover {
  color: #31708e;
}

.nav-link-wrapper {
  padding-left: 2.5rem;
}

.btn {
  margin: 0 0.2rem 0 0.2rem;
}

.btn-primary {
  background-color: #31708e;
  border: none;
}

.btn-primary:hover {
  background-color: #5085a5;
  color: #f7f9fb;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 5px #000000;
}
/* END OF NAV */

main {
  flex: 1;
}

/* FOOTER STYLES */
body {
  background-color: #f3f6fd;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(189, 196, 203);
}

.card {
  margin-bottom: 1rem;
  padding: 3rem 4rem;
  color: #f7f9fb;
  background-color: #687864;
}

#footer-title {
  font-size: 1.4rem;
}

.heading {
  color: #f7f9fb;
  font-size: 1.1rem;
}

.card-text {
  padding-top: 0.7rem;
}

.footer-wrapper {
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

ul > li {
  padding: 4px;
  text-decoration: none;
}

ul > li:hover {
  color: #8fc1e3;
  cursor: pointer;
  text-decoration: none;
}

hr {
  border-width: 3px;
}

.social > i {
  padding: 1%;
  font-size: 1.5rem;
}

.social > i:hover {
  color: #8fc1e3;
  cursor: pointer;
}

.divider {
  border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.copywright {
  font-size: 0.7rem;
}

.policy > div {
  padding: 4px;
  font-size: 0.8rem;
}

/* LOGIN PAGE STYLES */
.logsign-text {
  color: #687864;
}

.logsign-logo {
  background-color: #31708e;
}

/* About us page */
.text-center {
  text-align: center;
}
.about-content {
  background-color: white;
  transition: all 0.25s ease;
  align-items: center;
  display: flex;
  color: #000000;
  flex-direction: column;
}

.tree-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.tree-on {
  background-image: url(../images/treelogo.jpg);
  height: 400px;
  width: 400px;
}

/* #about-us-title {
  font-size: 2rem;
  color: #222;
  text-shadow: 0px 2px 3px #555;
} */

#about-us-title {
  display: inline;
  position: relative;
  font: 200px Helvetica, Sans-Serif;
  letter-spacing: -5px;
  color: rgb(49, 112, 142, 0.5);
}

#about-us-title:after {
  content: 'A fresh take on community building';
  position: absolute;
  left: 10px;
  top: 5px;
  color: rgb(104, 120, 100, 0.5);
}

.contact-us-accent {
  background-color: #31708e;
  color: rgba(0, 0, 0, 0.5);
  display: grid;
  font-size: 18px;
  height: 40px;
  place-items: center;
  width: 100%;
}

.subtitle {
  font-size: 24px;
  height: 50px;
  transition: all 0.25s ease;
  background-color: #687864;
  color: #f7f9fb;
  justify-content: center;
  display: flex;
  width: 100%;
}

.subtitle-text {
  font-size: 14px;
  margin: 0 auto 0 0;
}

.contact-copy {
  background-color: #687864;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 5px 10px;
}

/* End about us page */

/* homepage styles */
.home-title {
  position: relative;
  font-size: 100px;
  letter-spacing: -3px;
  color: #31708e;
  width: 50rem;
}

.home-title:after {
  content: 'a fresh take on community building';
  position: absolute;
  left: 2px;
  top: -7px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  mix-blend-mode: multiply;
}
/* index page css carousel */

.d-block {
  width: 75rem;
  height: 45rem;
  opacity: 0.6;
}

/* .carousel-item {
  min-height: 280px;
} */

.carousel-div {
  margin: 0rem 0 4rem 30rem;
  height: 45rem;
  width: 75rem;
  background-color: #000000;
}
/* end carousel */
/* dashboard css start */
.wrapper {
  margin: 0 auto;
  width: 100%;
}

#handlebars-sandbox {
  padding: 8px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(264px, auto);
  grid-gap: 20px;
  margin-top: 20px;
}

.panel {
  margin-left: 5px;
  margin-right: 5px;
}

/* falling leaves */

.fallingLeaves {
  text-align: center;
  overflow: hidden;
}

.fallingLeaves .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.fallingLeaves .set div {
  position: absolute;
  display: block;
}

.fallingLeaves .set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}
.fallingLeaves .set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}
.fallingLeaves .set div:nth-child(3) {
  left: 70%;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
}
.fallingLeaves .set div:nth-child(4) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
.fallingLeaves .set div:nth-child(5) {
  left: 0%;
  animation: animate 12s linear infinite;
}
.fallingLeaves .set div:nth-child(6) {
  left: 0%;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}
.fallingLeaves .set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite;
}
.fallingLeaves .set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(180deg);
  }
}
