/* main {
  padding-top: 5px;
  background-image: url('../images/mplifting.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

main {
  background-color: #f7f9fb;
}

body,
html {
  font-family: 'Inconsolata', sans-serif;
}

.full-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAV STYLES */
.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #687864;
}

#nav-tree {
  width: 2.5rem;
  border-radius: 50%;
  font-size: 5rem;
}

#navbar-title {
  font-size: 1.5rem;
  color: #f7f9fb;
  padding-left: 1rem;
}

.btn {
  margin: 0 0.2rem 0 0.2rem;
}

.btn-primary {
  background-color: #31708e;
  border: none;
}

.btn-primary:hover {
  background-color: #5085a5;
  color: #f7f9fb;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 5px #000000;
}
/* END OF NAV */

main {
  flex: 1;
}

/* FOOTER STYLES */
body {
  background-color: #f3f6fd;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(189, 196, 203);
}

.card {
  margin-bottom: 1rem;
  padding: 3rem 4rem;
  color: #f7f9fb;
  background-color: #687864;
}

#footer-title {
  font-size: 1.4rem;
}

.heading {
  color: #f7f9fb;
  font-size: 1.1rem;
}

.card-text {
  padding-top: 0.7rem;
}

.footer-wrapper {
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

ul > li {
  padding: 4px;
}

ul > li:hover {
  color: #8fc1e3;
  cursor: pointer;
}

hr {
  border-width: 3px;
}

.social > i {
  padding: 1%;
  font-size: 1.5rem;
}

.social > i:hover {
  color: #8fc1e3;
  cursor: pointer;
}

.divider {
  border-top: 2px solid rgba(189, 196, 203, 0.5);
}

.copywright {
  font-size: 0.7rem;
}

.policy > div {
  padding: 4px;
  font-size: 0.8rem;
}

/* LOGIN PAGE STYLES */
