<footer>
  <div>
    <li>
      <a
        class="twitter-follow-button"
        href="https://twitter.com/TwitterDev"
        data-size="default"
      >Follow</a>
    </li>>
    <li>Contact Us link</li>
    <li><img src="../../public/images/treelogo.jpg" /></li>
    <li>Company</li>
    
  </div>
</footer>