<nav>
    <h2><img src="../../public/images/treelogo.jpg"></h2>
    <ul>
        <li>Help Board</li>
        <li>About Us</li>
        <li>Support</li>
        <button>Log In</button>
        <button>Register</button>
    </ul>
</nav>